body {
  background: #131316;
  margin: 0;
  color: #e4e1e5;
  font-family: "Inter", system-ui, sans-serif;
}

.text-neutral-500 {
  color: #919191;
}

.truncate-fade {
  -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
  mask-image: linear-gradient(to right, black 80%, transparent 100%);
}
